azure-cognitiveservices-speech
streamlit-mic-recorder
sentence_transformers
InstructorEmbedding
langchain==0.2.5
llama-cpp-python
ctransformers
transformers
streamlit
pypdfium2
chromadb
librosa
pyyaml
torch
protobuf==5.29.6
Pillow>=12.2.0
