@inherits LayoutComponentBase

<div>
    <FluentMainLayout NavMenuTitle="Navigation menu">
        <Header><h3>AgroApp</h3></Header>
        <SubHeader><p>This is an innovative app that assists agricultural professionals in crop planning and controlling agricultural pests and diseases.</p></SubHeader>
        <Body>
            @Body
        </Body>
        <NavMenuContent>
            <FluentNavLink Href="/" Text="Home">Home</FluentNavLink>
            <FluentNavLink Href="/crop" Text="Crop">Crop</FluentNavLink>
            <FluentNavLink Href="/classify" Text="Defensivos">Defensivos</FluentNavLink>
        </NavMenuContent>
    </FluentMainLayout>
</div>
